<div id="<%= dom_id pricing_matrix %>">
  <p>
    <strong>Start miles:</strong>
    <%= pricing_matrix.start_miles %>
  </p>

  <p>
    <strong>End miles:</strong>
    <%= pricing_matrix.end_miles %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= pricing_matrix.price %>
  </p>

</div>
