<h1>Editing pricing matrix</h1>

<%= render "form", pricing_matrix: @pricing_matrix %>

<br>

<div>
  <%= link_to "Show this pricing matrix", @pricing_matrix %> |
  <%= link_to "Back to pricing matrices", pricing_matrices_path %>
</div>
