<h1>New Inquiry Received</h1>
<p>
  A new Inquiry has been received with the following details:
</p>
<ul>
  <li><strong>Contact Name:</strong> <%= @inquiry.name %><br></li>
    <li><strong>Email:</strong> <%= @inquiry.email_address %></li>
    <li><strong>Message:</strong> <%= @inquiry.message %></li>
</ul>
