<div class="card">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted"><%= @employee&.role %></h6>
        <p class="card-text">Email: <%= @employee&.email %></p>
    </div>
</div>