<div class="header d-flex justify-content-between align-items-center">
    <h2>Events</h2>
    <%= link_to "New Event", new_event_path, class: "btn btn-primary" %>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @events&.each do |event| %>
            <tr>
                <td><%= event.name %></td>
                <td><%= truncate(event.description, length: 50) %></td>
                <td>
                    <%= link_to "Show", event, class: "btn btn-info" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
