<h1>New Application Received</h1>
<p>
    A new Application has been received with the following details:
</p>
<ul>
    <li><strong>Contact Name:</strong> <%= @application.first_name %> <%= @application.last_name %></li>
    <li><strong>Email:</strong> <%= @application.email %></li>
    <li><strong>Number:</strong> <%= @application.phone_number %></li>
</ul>
