<div class="help-instructions">
  <h6><i class="fas fa-file-alt text-primary me-2"></i>Job Applications</h6>
  <p>Applications from the <a href="https://www.taalogistics.com/employment" target="_blank">TAA Logistics Employment Page</a> are show here. There is a useful checkbox to mark off the people that you have contacted.
</div>