<div class="help-instructions">
  <h6><i class="fas fa-chart-bar text-primary me-2"></i>Dashboard Overview</h6>
  <p>Instructions for understanding dashboard metrics and data will go here.</p>
  
  <h6><i class="fas fa-filter text-info me-2"></i>Filtering & Navigation</h6>
  <p>Information about filtering data and navigating between sections will go here.</p>
</div> 