<div class="help-instructions">
  <h6><i class="fas fa-video text-primary me-2"></i>Video</h6>
  <video src="https://res.cloudinary.com/dkhtrg1ts/video/upload/f_auto:video,q_auto/v1/taa/instructions/oseyzpnaw9yfvrweu6lv" controls></video>
  <h6><i class="fas fa-users text-primary me-2"></i>Employee Management</h6>
  <p>This is used to onboard people onto the server. In order to do this, you need to tell the user to sign up.</p>
  <ul>
    <li>
      Once they sign up, they won't be able to access anything until you give them permissions.
    </li>
    <li>
      Click edit on the employee you want to give permissions to and select the role you want to give them. You can give them any role you want, but I will advice against giving them admin. 
    </li>
    <li>
      Each role only has access to what their job requires them to do -- in the video above you can see that admin has access to everything, but a broker only has access to the tabs they need.
    </li>
    <li>
      When a user signs up first, they will have no permissions as you can see above, I tried to navigate to the quotes tab and it took me back to the landing page.
  </ul>
</div> 