<div class="help-instructions">
    <h6><i class="fas fa-video text-primary me-2"></i>Video</h6>
  <video src="https://res.cloudinary.com/dkhtrg1ts/video/upload/f_auto:video,q_auto/v1/taa/instructions/stdi7dthoqh98rfwrzke" controls></video>
  <h6><i class="fas fa-calendar text-primary me-2"></i>Event Management</h6>
  <p>This is where you can manage events that the company has hosted to display the <a href="https://www.taalogistics.com/events" target="_blank" rel="noopener noreferrer">TAA Logistics Website Events Page</a>.</p>
  <ul>
    <li>
      You create an event by clicking the "Create Event" button.
    </li>
    <li>
      Give it a name and description. This will be displayed on the website.
    </li>
    <li>
      Upload photos for the event similar to the video above.
    </li>
    <li>
      Visit the <a href="https://www.taalogistics.com/events" target="_blank" rel="noopener noreferrer">TAA Logistics Website Events Page</a> to see the event you created.
    </li>
  </ul>
</div> 