<div class="help-instructions">
  <h6><i class="fas fa-question-circle text-primary me-2"></i>Customer Inquiries</h6>
  <p>Inquiries from the <a href="https://www.taalogistics.com/contact" target="_blank">TAA Logistics Contact Us Page</a> are show here. There is a useful checkbox to mark off the people that you have contacted.
</div> 