<div class="help-instructions">
  <h6><i class="fas fa-map-marker-alt text-primary me-2"></i>Managing Ports</h6>
  <video src="https://res.cloudinary.com/dkhtrg1ts/video/upload/f_auto:video,q_auto/v1/taa/instructions/lgapsgpvwukqv9xkcrk5" controls></video>
  <p>In order to ensure that the system is accurate, please make sure you add the correct port addresses if you are not using State as the address.</p>
  <ol>
    <li>
      Click the "New Port" button to add a new port.
    </li>
    <li>
      Fill out the form with the correct information.
    </li>
    <li>
      Click the "Create Port" button to save the port.
    </li>
  </ol>
  <p>Even if the address is already used, but the port name is different, <b>please add a new port</b> so that the system can recognize it if it is named slightly different</b>.</p>
  <h6><i class="fas fa-toggle-on text-success me-2"></i>Port Status</h6>
  <p>All port status does is that it allows the system to know if the port is active or inactive. Currently every port should be active. This is just here for future use depending on any future integrations that can happen.</p>
</div> 