<div class="help-instructions">
  <h6><i class="fas fa-calculator text-primary me-2"></i>Pricing Structure</h6>
  <p>These are the pricing structures that are used to calculate the price of a quote that is below a certain range. That range is defined by you. The range that you set that has the maximum miles will be the end of the range. After that, the pricing equation will be used.</p>
  <h6><i class="fas fa-video text-primary me-2"></i>Edit or Add Pricing Matrix</h6>
  I have formatted this matrix to look like the one provided for me. Now you can add or edit. I suggest you only edit unless you plan to add another base rate above the max range.

</div> 