<div class="help-instructions">
  <h6><i class="fas fa-quote-left text-primary me-2"></i>Quote Management</h6>
  <p>Quotes from the <a href="https://www.taalogistics.com/rates" target="_blank">TAA Logistics Rates Page</a> are show here.
  <p>There is also a tool to calculate the line haul and fuel surcharge for a quote.</p>
  <p>The quotes from the website and quotes created from the tool are shown here in their own tabs.</p>

  <h6><i class="fas fa-video text-success me-2"></i>Video</h6>
  <video src="https://res.cloudinary.com/dkhtrg1ts/video/upload/f_auto:video,q_auto/v1/taa/instructions/jfyoe7s3edjzaa4vreru" controls></video>

  <h6><i class="fas fa-check-circle text-success me-2"></i>Instructions</h6>
  <ol>
    <li>Click the plus icon.</li>
    <li>Fill out the Ramp Location -- If not available add it to the <a href="/ports">ports</a> page.</li>
    <li>Fill out the Destination address.
    <li>Fill out the rate per mile. This traditionally has been set to 1.93.
    <li>Add the fuel surcharge %</li>
    <li>Even though every other field is optional, I suggest filling them out to keep the data clean.</li>
  </ol>
  
</div>